* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1 {
    font-size: 100px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
    color: #fff;
    padding: 40px;
}

section {
    background-color: rgb(221, 216, 221);
    height: 1300px;
}

p {
    font-size: 40px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
    color: #fff;
}

a {
    font-size: 40px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
    color: rgb(160, 189, 194);
    text-decoration: none;
    padding: 40px;
}

img {
    max-width: 400px;
    max-height: 400px;
    padding: 40px;
}

nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.letter {
    font-size: 100px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
    color: #fff;
}

.title {
    display: flex;
    flex-direction: row;
    padding-top: 250px;
}

.letterP {
    padding-left: 60px;
    font-size: 100px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
    color: #fff;
}

.sub {
    display: flex;
    justify-content: center;
}

.sub-title{
    background-color: rgb(160, 189, 194);
    color: rgb(234, 240, 241);
    font-size: 70px;
    height: 70px;
}

.fixed {
    height: 100%;
    background-size: cover;
    background-position: center;
}

#nav-links {
    font-size: 30px;
    color: #fff
}

#title {
    height: 700px;
}